.Container{

    margin:auto;
    margin-top:6%;
    width: 50vh;
    padding:1.5em;
    background-color:#000000;
    border-radius:2em;
    border-bottom:0.5em black solid;
}


.Display{

    display: flex;
    justify-content:center;
    align-items:center;
    height:13vh;
    font-size:2em;
    color:white;
    background-color: rgb(51, 51, 51);
    margin-top:auto;
    border-radius:0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 1em;
    
}